
.post_container {
    padding: 1rem;
}

.post_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f1f1;
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1rem;
}

.update__button {
    margin-right: 1rem !important;
}